<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="views/style.css">

    <title>Document</title>
</head>
<body>


    <div class="container">
        <div class="info">
            <h1>URL made short</h1>
            <form action="/shortUrls" method="POST">
                <label for="fullURL">url</label>
                <input type="url" name="fullURL" id="fullURL">
                <button type="submit">Shorten</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                    <th>Clicks</th>

                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                    <tr>
                    <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                    <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                    <td><%= shortUrl.clicks %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>